[defaults]
inventory       = ./inventories/lab.yml
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
gathering       = explicit
forks           = 8
timeout         = 30
roles_path      = ./roles

[persistent_connection]
command_timeout    = 60
connect_timeout    = 30
